@media (max-width: 990px) {
    h1.title-text, p.description{
        max-width: 450px !important;

    }
    h1.title-text{
        font-size: 1.875rem;
    }
    p.description{
        font-size: 1rem !important;
    }
    h2{
        font-size: .5rem;

    }
    h3{
        font-size: .5rem;

    }
    h4{
        font-size: .5rem;

    }
    .items-section{
        grid-template-columns: 1fr 1fr !important;
        margin-left: 3rem;
    }
    
}
@media (max-width: 720px) {
    .slider-standard{
        display: flex;
        flex-direction: column-reverse; 
        align-items: center; 
        background-image: url(images/background-3-horizontal.png);
        background-position-y: -100px;
        background-size: 600px;
        background-repeat: no-repeat; 

    }
    h1.title-text{
        font-size: 1.5rem;
    }
    p.description{
        font-size: 1rem !important;
    }
    h1.title-text, p.description{
        margin-left: 1.875rem !important;
        max-width: 300px !important;
    }
    .topic-container {
        justify-content: center !important;
    }

    .topic-container #our-challenge {
        max-width: 100%;
        margin-left: 10px;
    }

    .topic-container #challenge-img {
        margin-top: 10px;
    }

    .topic-container #cases {
        max-width: 140px;
        position: absolute;
        top: 1460px;
        left: 30px;
        
    }
    .topic-title-1{
        margin-top: 3rem;
    }
    .topic-container #death-num {
        max-width: 140px;
        margin-top: 0;
        margin-left: 140px;
    }
    .topic-container #death-num h2{
        font-size: 1.65rem;
        
    }
    .work-standard{
        grid-template-columns: 1fr !important;
    }
    .work-container{
        max-width: 300px !important;
    }
    .items-section{
        grid-template-columns: 1fr !important;
        justify-items: start;
        margin-left: 5rem;
    }
    .card-standard{
        max-width: 300px !important;
    }
    .history-small{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
    }
    .divider{
        grid-template-columns: 1fr !important;
        max-width: 75px;
        margin-right: 0;
    }
    .divider img{
        width: 50px;
    }
    .history-description{
        grid-template-columns: 1fr !important;
    }
    .support{
        grid-template-columns: 1fr !important;
        
    }
    .support-item,
    .support-item img{
        max-width: 300px !important;
    }
    .support-item h2,
    .support-item h4{
        font-size: 32px;
    }
    .support-item p{
        font-size: 14px !important;
    }
    .donate-cards{
        grid-template-columns: 1fr !important;
    }
    footer{
        display: flex !important;
        flex-direction: column-reverse !important;
        align-items: center;
    }
    .footer-item a p{
        margin-left: 0 !important;
        text-align: center;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-height: 4.375rem;

    /* colors */
    --hue: 60;
    /* HSL color mode */
    --base-color-1: hsl(var(--hue) 36% 57%);
    --base-color-second-1: hsl(var(--hue) 65% 88%);
    --base-color-alt-1: hsl(var(--hue) 57% 53%);
    --title-color-1: hsl(var(--hue) 41% 55%);
    --text-color-1: hsl(0 0% 80%);
    --text-color-light-1: hsl(0 0% 98%);
    --body-color-1: hsl(0 0% 98%);
    --products-bg-color: hsl(var(--hue) 50% 46%);
    /*fonts*/
    --title-font-size-1: 1.25rem;
    --menu-font-size-1: 1.1rem;
    --subtitle-font-size-1: 2rem;
    --product-font-size-1: 3rem;
    --title-font-1: 'Prompt', sans-serif;
    --body-font-1: 'Mulish', sans-serif;
}



div nav div ul li.nav-item{
    font-family: var(--body-font-1);
    font-weight: 400px;
    margin-right: 20px;
}
.btn-header{
    color: #fff;
    font-size: 1rem;
    font-weight: 700px;
    padding: .5rem 1rem .5rem 1rem;
    font-family: var(--body-font-1);    
    background-color: #635cbd;
    transition: .3s;
    box-shadow: 3px 3px 5px #8a8a8a;
    border-radius: 4px;
    max-width: 160px;
    border: none;
}
.nav-image{
    max-width: 135px;
}
.btn-header:hover{
    background-color: #6852ee;
    box-shadow: .5px .5px 1px #8a8a8a;
    transform: translateY(-.5px);

}

.slider-standard{
    display: flex;
    justify-content: space-between;
}

.presentation{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    padding: 5rem;
    background-size: cover;
}

.slider-presentation{
    max-width: 350px;
    right: 30px;
}


.title-text{
    font-weight: bolder;
    font-family: var(--title-font-1);

}

.title-text, p.description{
    max-width: 600px;
    margin-left: 5rem;
}

p.description{
    font-size: 1.25rem;
    font-weight: 400px;
    font-family: var(--body-font-1);
}

button.description{
    margin-left: 5rem;
}


.topic{
    margin-bottom: 1rem;
    font-family: var(--body-font-1);
    font-weight: bold;
}

.topic-container{
    margin-bottom: 10.43rem;
}

.topic-info{
    max-width: 377px;
    font-family: var(--body-font-1);
    font-weight: 400px;
}

.topic-container {
    display: flex;
    flex-wrap: wrap;
}




#our-challenge {
    max-width: 400px;
    margin-top: 9.06rem;
    margin-left: 5rem;
}

#challenge-img {
    margin-top: 91px;
}

#cases {
    max-width: 146px;
    margin: 113px 80px 0 50px;
}
#cases h2, 
#death-num h2{
    color: #e55555;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
}
#death-num {
    max-width: 120px;
    margin-top: 250px;
    margin-left: 80px;
    text-align: right;
}
.work-standard{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}
.work-container{
    margin-left: 5rem;
}
.items-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 696px;
}
.card-standard{
    max-width: 170px;
}
.items-section h3{
    font-size: 16px;
    font-weight: bolder;
    font-family: var(--body-font-1);
    max-width: 170px;
    
}
.exception{
    max-width: 128px !important;
}
.items-section p{
    font-size: 14px;
    font-family: var(--body-font-1);
}
.icon{
    max-width: 86px;
}  
.historia{
    margin-top: 140px;
}
.divider{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr ;
    align-items: center;
    background-image: url(images/line-timeline.png);
    background-size: 3000px;
    background-repeat: no-repeat;
    background-position-y: 100px;
    margin-top: 1rem;
}

.timeline{
    max-width: 75.5px;
    margin-left: 5rem;
}
.history-description{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr .9fr;
    margin-left: 1.5rem;
}
.history-description p{
    font-size: 14px;
}
.history-items{
    max-width: 200px;   
    margin-right: 1.5rem;
}
.support{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5rem;
    margin-top: 8.7rem;
}
.support h4{
    margin-top: 1.8rem;
    font-size: 20px;
}
.support p{
    max-width: 470px;
    font-size: 18px;
}
.support img{
    max-width: 500px;
    margin-right: 4.43rem;
}
.support a{
    text-decoration: none;

}
.support a p{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    transition: .3s;
}
.support a p:hover{
    transform: translateY(-2px);
    color: var(--title-color-1);

}
.help-us{
    background-color: #f7f5ff;
    margin-top: 10rem;
    padding-bottom: 7.375rem;
}
.row{
    justify-content: center;
}
.help-us h2{
    margin-left: 5rem;
    font-weight: bolder;
    margin-bottom: 3.75rem;
}
.container-help-us-title{
    background-image: url(images/background-2.png);
    background-repeat: no-repeat;
    background-position-x: -350px;
    background-position-y: -10px;
    background-size: 700px;
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr .6fr;
    padding-bottom: 4.31rem;
}
.footer-item{
    margin-top: 3.75rem;
}
.footer-item a p{
    max-width: 260px;
    margin-left: 5rem;
    margin-top: 1.375rem;
    color: #000000;
}
.footer-item h5{
    text-align: center;
}
.footer-icons{
    display: flex;
    justify-content: space-evenly;
}
.footer-icons img{
    max-width: 40px;
    transition: .3s;
}
.footer-icons img:hover{
    transform: translateY(-5px);
}